/* You can add global styles to this file, and also import other style files */
.col-xs-12{
    width: 100%;
    display: inline-block;
}
.col-xs-6{
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display: inline-table;
}
.col-xs-3{
    width: 20%;
    margin-left: 0;
    margin-right: 0;
    display: inline-table;
}
.center{
    text-align: center;
}